* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    block-size: 100%;
    inline-size: 100%;
}
img{
    block-size: 400px;
    inline-size: 600px;
}